@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Oswald&display=swap");
h1 {
  font-family: "bebas neue", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 3rem;
}

h2 {
  font-family: "bebas neue", sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: "oswald", sans-serif;
  color: black;
  text-align: center;
  margin-left: 2em;
  text-decoration: underline;
  width: 50%;
}

p {
  font-family: "oswald", sans-serif;
}

div.button {
  display: flex;
  justify-content: flex-end;
}
div.button a {
  text-decoration: none;
  background-color: #B3B3B3;
  border-radius: 5px;
}
div.button a img {
  text-decoration: none;
  background-color: #B3B3B3;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
div.button a img:hover {
  cursor: pointer;
  transform: translate(0, -25px);
  transition: 300ms;
}

.btn-redes, .btn-outline-secondary, .form-check-label {
  font-size: 1rem;
  font-family: "fredoka one", cursive;
  color: #0D0D0D;
}
.btn-redes:hover, .btn-outline-secondary:hover, .form-check-label:hover {
  opacity: 0.9;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
article .orden {
  display: flex;
  flex-direction: row;
}

.btn-filtro {
  background-color: #B3B3B3;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-check-label:hover {
  cursor: pointer;
}

.card-img-top {
  height: 210px;
  object-fit: cover;
}
.card-img-top:hover {
  opacity: 0.7;
  transition: 300ms;
}

.btn-outline-secondary:hover {
  background-color: #B3B3B3;
  color: #0D0D0D;
  transition: 300ms;
}

.card-title {
  font-family: "fredoka one", cursive;
}

form {
  margin: 10vh auto 10vh auto;
  padding-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgba(195, 197, 192, 0.8039215686);
  border-radius: 5px;
  box-shadow: 3px 5px #B3B3B3;
}
form ul {
  font-family: "fredoka one", cursive;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form ul li {
  width: 50vw;
  margin: 0.5rem;
}
form ul li input {
  border-radius: 5px;
  border: none;
}
form ul li button {
  border: none;
  border-radius: 5px;
}
form ul li button:hover {
  background-color: #B3B3B3;
  cursor: pointer;
  transition: 200ms;
}
form ul li textarea {
  height: 30vh;
  border-radius: 5px;
  border: none;
}

.botonera {
  display: flex;
  font-family: "oswald", sans-serif;
  font-size: 1.5rem;
}
.botonera img {
  max-width: 100px;
}
.botonera div {
  display: flex;
  justify-content: end;
}
.botonera div a {
  color: #0D0D0D;
  margin-inline: 1rem;
  text-decoration: none;
  border-radius: 5px;
}
.botonera div a:hover {
  background-color: #B3B3B3;
  cursor: pointer;
  transition: 200ms;
}

footer section {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0D0D0D;
}
footer section a {
  margin-bottom: 2rem;
}
footer .socalo {
  background-color: #B3B3B3;
}

/*# sourceMappingURL=style.css.map */
