@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
    font-size: 62.5%;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'oswald';
    height: 100vh;
}  
h1{
    font-size: 5rem;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 50px;
}

nav ul{
    font-size: 2em;
    gap: 2em;
}

