footer{
    section{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $title;
        a{
            margin-bottom: $margin2;
          
        }
    }
    .socalo{
        background-color: $ection;
    }

}