// COLOR

$background: #c3c5c0cd;
$ection: #B3B3B3;
$title: #0D0D0D;
$subTitle: #262626;

$paleta:(
'uno': #950000,
'dos': #1d4e01,
'tres': #E8BE38,
'cuatro':#d8d9d7cd,
);


// FONTS 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Oswald&display=swap');

$ff-oswald: 'oswald', sans-serif;
$ff-beba: 'bebas neue', sans-serif;
$ff-fredoka: 'fredoka one', cursive;

$textxs: 1rem;
$textsm: 1.5rem;
$textmd: 2rem;
$textlg: 3rem;
$textxl: 4rem;

// BORDERS

$borderRad: 1rem;

// MARGINS

$margin0: 0.5rem;
$margin1: 1rem;
$margin1-5: 1.5rem;
$margin2: 2rem;
$margin3: 3rem;

// PADDINGS

$pad1: 1rem;
$pad1-5: 1.5rem;
$pad2: 2rem;





